@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.App {
  text-align: center;
  padding: 50px;
  .header {
    margin-bottom: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    font-weight: 700;
  }
  .subtitle {
    font-family: 'Consolas', sans-serif ;
    font-size: 2rem;
    margin: 40px auto;
    .suffix {
      color: #ff8400;
      font-style: italic;
      span {
        margin-right: 20px;
      }
    }
  }
  form {
    margin: 20px;
    input {
      background-color: inherit;
      color: white;
      outline: none;
      border: solid 1px white;
      border-radius: 15px;
      padding: 15px 25px;
      font-size: 3rem;
    }
    button {
      margin-left: -60px;
      background-color: inherit;
      border: none;
      outline: none;
      color: white;
      font-size: 3rem;
      cursor: pointer;
    }
  }
  
  .errorMessage {
    margin: 20px auto;
    height: 20px;
    font-size: 1.5rem;
    color: red;
  }

  .scoreContainer {
    font-size: 3rem;
    margin: 50px auto;
  }
}


